body {
  background-color: green;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

h1,img {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  font: caption;
  inline-size: 600px;
  overflow-wrap: break-word;
}